[Unit]
Description=Gluster Metrics Exporter
After=network.target

[Service]
PIDFile=/var/run/gluster/metrics-exporter.pid
ExecStart=/usr/sbin/gluster-metrics-exporter

[Install]
WantedBy=multi-user.target